<div class="p-8 mt-8 flex justify-center">
  <form
    [formGroup]="productForm"
    class="shadow border w-6/12 p-4"
    (ngSubmit)="editProduct()"
  >
    <div class="flex flex-col">
      <mat-form-field class="w-full">
        <input
          matInput
          name="name"
          formControlName="name"
          placeholder="Enter product name"
        />
      </mat-form-field>

      <mat-form-field class="w-full">
        <input
          matInput
          name="brand"
          formControlName="brand"
          placeholder="Enter brand name"
        />
      </mat-form-field>

      <mat-form-field class="w-full">
        <input
          matInput
          name="image"
          formControlName="imageUrl"
          placeholder="Enter product image"
        />
      </mat-form-field>

      <mat-form-field class="w-full">
        <input
          matInput
          name="currentPrice"
          formControlName="originalPrice"
          placeholder="Enter current price"
        />
      </mat-form-field>

      <mat-form-field class="w-full">
        <input
          matInput
          name="standardPrice"
          formControlName="discountedPrice"
          placeholder="Enter standard price"
        />
      </mat-form-field>

      <mat-form-field class="w-full">
        <input
          matInput
          name="discount"
          formControlName="discountPercentage"
          placeholder="Enter discount %"
        />
      </mat-form-field>
    </div>
    <div class="flex justify-center">
      <button mat-raised-button color="primary justify-center">Edit</button>
    </div>
  </form>
</div>
